.DrawerToggle {
    width: 5%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 17px 0;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: 5px;
    
}

.DrawerToggle div {
    width: 19px;
    height: 2px;
    background-color: #5f6368;
}

/** REVISIT MEDIA QUERIES **/

/* @media (min-width: 500px) {
    .DrawerToggle {
        display: none;
    }
} */